-# frozen_string_literal: true
= simple_form_for(@notification) do |f|
  = f.error_notification

  %div.form-group.col-md-5
    = f.input :description, input_html: { class: 'form-control', rows: '3' } 
  %div.form-group.col-md-5
    = f.input :category, collection: Notification.categories.keys, input_html: { class: 'form-control' } 
  %div.form-group.col-md-5
    = f.input :email, input_html: { class: 'form-control' }  

  .form-actions
    = f.button :submit, class: "btn btn-primary btn-lg"
    %button= link_to 'Cancel', notifications_path, class: "btn btn-muted btn-lg" 
