%h1 Listing notifications

%table
  %thead
    %tr
      %th Description
      %th Category
      %th Email
      %th Cost
      %th Term
      %th
      %th
      %th

  %tbody
    - @notifications.each do |notification|
      %tr
        %td= notification.description
        %td= notification.category
        %td= notification.email
        %td= notification.cost
        %td= notification.term
        %td= link_to 'Show', notification
        %td= link_to 'Edit', edit_notification_path(notification)
        %td= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Notification', new_notification_path
