%h1.text-center= t('.title')
%div.col-md-10
  %table.table.table-bordered
    %thead
      %tr
        %th= t '.description'
        %th= t '.category'
        %th= t '.email'
        %th= t '.cost'
        %th= t '.term'
        %th 
        %th
        %th

    %tbody
      - @notifications.each do |notification|
        %tr
          %td.scroll= notification.description 
          %td= notification.category
          %td= notification.email
          %td= number_to_currency(notification.cost, unit: "zł", separator: ",", format: "%n %u") 
          %td= notification.term.strftime("%F %H:%M") 
          %td= link_to t('.show'), notification
          %td= link_to t('.edit') # add link to edit if necessary, edit_notification_path(notification)
          %td= link_to t('.destroy'), notification, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to t('new_notification'), new_notification_path
