.notice
  %h1= notice

%p
  %b Description:
  = @notification.description
%p
  %b Category:
  = @notification.category
%p
  %b Email:
  = @notification.email
%p
  %b Cost:
  = number_to_currency(@notification.cost, unit: "zł", separator: ",", format: "%n %u")
%p
  %b Term:
  = @notification.term.strftime("%F %H:%M") 

= link_to 'Edit', edit_notification_path(@notification)
\|
= link_to 'Back', notifications_path
