.notice
  %h1= notice

%p
  %b Description:
  = @notification.description
%p
  %b Category:
  = t @notification.category
%p
  %b Email:
  = @notification.email
%p
  %b Cost:
  = number_to_currency(@notification.cost, unit: "PLN", separator: ",", format: "%n %u")
%p
  %b Term:
  = @notification.term.strftime("%F %H:%M") 

= link_to 'New Notification', new_notification_path
\|
= link_to 'Back', notifications_path
