.notice
  %h1= notice

%p
  %b= t('.description')
  = @notification.description
%p
  %b= t('.category')
  = t @notification.category
%p
  %b Email:
  = @notification.email
%p
  %b= t('.cost')
  = number_to_currency(@notification.cost, unit: "PLN", separator: ",", format: "%n %u")
%p
  %b= t('.term')
  = @notification.term.strftime("%F %H:%M") 

= link_to t('new_notification'), new_notification_path
\|
= link_to t('back'), notifications_path
